@import "style.css";

/*---- why should i donate? ----*/
.content .section-content{
    width: 85%;
    margin: 20px auto;
}

.content .section-content .title{
    width: 60%;
    margin-top: 70px;
    padding: 30px 0;
}

.content .section-content .title h2{
    font-size: 35px;
    color: #02367b;
}

.content .section-content .cards{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 50px;
    margin: 25px auto;
}

.content .section-content .cards .card{
    width: 100%;
    background-color: #f7f7f7;
}

.content .section-content .cards .card i{
    color: #f5f5dc;
    font-size: 50px;
    width: 100%;
    text-align: center;
}

.content .section-content .cards .card .article{
    padding: 15px 20px;
    position: static;
}

.content .section-content .cards .card .article h4{
    font-size: 24px;
    color: #4a4a4a;
}

.content .section-content .cards .card .article p{
    font-size: 16px;
    margin: 10px 0px;
    color: #6a6a6a;
}

.rec{
    background: #333;
    padding:40px;
}

footer{
    margin-top: 40px;
    position: static;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #800000;
}

@media screen and (max-width: 992px){
    .content .section-content .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px){
    .content .section-content .cards{
        grid-template-columns: repeat(1, 1fr);
    }
    .content .section-content .title h2{
        font-size: 30px;
    }
}